PORT=5000

DATABASE_URL=postgresql://neondb_owner:npg_e8piHMrYL0wy@ep-noisy-sea-aexpfwkt-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require	

JWT_SECRET=a958e14b76bff8d73a84e3ca9fcf9d197b6f5c242fae4a1133645cad5e4d6361
JWT_EXPIRES_IN=1h

FRONTEND_URL=http://localhost:5173

NODE_ENV=development

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=